[submodule "client/node/node-compositor"]
	path = client/node/node-compositor
	url = git@github.com:ebshimizu/node-compositor.git
[submodule "client/node-ui/node-compositor"]
	path = client/node-ui/node-compositor
	url = https://github.com/ebshimizu/node-compositor
